[submodule "Voxen/vendor/spdlog"]
	path = Voxen/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Voxen/vendor/GLFW"]
	path = Voxen/vendor/GLFW
	url = https://github.com/loganr3093/glfw
[submodule "Voxen/vendor/imgui"]
	path = Voxen/vendor/imgui
	url = https://github.com/loganr3093/imgui
	branch = docking
[submodule "Voxen/vendor/glm"]
	path = Voxen/vendor/glm
	url = https://github.com/g-truc/glm
