[submodule "Voxen/vendor/spdlog"]
	path = Voxen/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Voxen/vendor/GLFW"]
	path = Voxen/vendor/GLFW
	url = https://github.com/loganr3093/glfw
