# Directories
.vs/
Binaries/
Intermediates/
bin/
bin-int/
obj/

# Exceptions
!Vendor/Binaries/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
*.user
*.obj

# Ignore all .ini files
*.ini